*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
input,
button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

input {
    width: 100%;
}

button {
    cursor: pointer;
}

sub {
    vertical-align: baseline;
}

sup {
    vertical-align: top;
        
}

sub,
sup {
    font-size: 0.75em;
}

html {
    font-family: $ff-nunito-sans;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    color: $on-background;
    font-size: $body-3;
    overflow: hidden;
}

main {
    height: calc(100vh - 80px);
    overflow: hidden;

    @include breakpoint("tablet") {
        height: calc(100vh - 96px);
    }

    @include breakpoint("desktop") {
        height: calc(100vh - 120px);
    }
}

:focus-visible {
    outline: 2px solid $white;
    outline-offset: 2px;
}

::selection {
    background-color: $white-alpha-8;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: $white-alpha-8;
    border-radius: $radius-pill;
}