.footer .body-3:last-child, .footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header .header-actions, .header .container {
  display: flex;
  align-items: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

sub {
  vertical-align: baseline;
}

sup {
  vertical-align: top;
}

sub,
sup {
  font-size: 0.75em;
}

html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #131214;
  color: #eae6f2;
  font-size: 1.6rem;
  overflow: hidden;
}

main {
  height: calc(100vh - 80px);
  overflow: hidden;
}
@media (min-width: 768px) {
  main {
    height: calc(100vh - 96px);
  }
}
@media (min-width: 1200px) {
  main {
    height: calc(100vh - 120px);
  }
}

:focus-visible {
  outline: 2px solid hsl(0, 0%, 100%);
  outline-offset: 2px;
}

::-moz-selection {
  background-color: hsla(0, 0%, 100%, 0.08);
}

::selection {
  background-color: hsla(0, 0%, 100%, 0.08);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 500px;
}

@keyframes ripple {
  0% {
    -webkit-clip-path: circle(0% at 50% 50%);
            clip-path: circle(0% at 50% 50%);
  }
  100% {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    transform: translateY(-50%) rotate(0);
  }
  100% {
    transform: translateY(-50%) rotate(1turn);
  }
}
.container {
  max-width: 1600px;
  width: 100%;
  margin-inline: auto;
  padding: 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 40px;
  }
}

.has-state {
  position: relative;
}
.has-state:hover {
  box-shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
}
.has-state:hover::before {
  background-color: hsla(0, 0%, 100%, 0.04);
}
.has-state:is(:focus, :focus-visible) {
  box-shadow: none;
}
.has-state:is(:focus, :focus-visible)::before {
  background-color: hsla(0, 0%, 100%, 0.08);
  animation: ripple 250ms ease forwards;
}
.has-state::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  transition: 100ms ease;
}

.heading {
  color: hsl(0, 0%, 100%);
  font-size: 5.6rem;
  line-height: 1.1;
}

.title-1 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 2.4rem;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 3.6rem;
  }
}

.title-2 {
  font-size: 1.8rem;
  margin-block-end: 12px;
}

.title-3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.body-1 {
  font-size: 2.2rem;
}

.body-2 {
  font-size: 2rem;
  font-weight: 600;
}

.body-3 {
  font-size: 1.6rem;
}

.label-1 {
  font-size: 1.4rem;
}

.label-2 {
  font-size: 1.2rem;
}

.fade-in {
  animation: fade-in 250ms ease forwards;
}

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  src: url(../font/material-symbol-rounded.woff2) format("woff2");
}
.m-icon {
  font-family: "Material Symbols Rounded";
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  height: 1em;
  width: 1em;
  overflow: hidden;
}

.icon-btn {
  background-color: hsla(0, 0%, 100%, 0.08);
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.btn-primary {
  background-color: #1b3c73;
  color: hsl(0, 0%, 100%);
  height: 48px;
  line-height: 48px;
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-inline: 16px;
  border-radius: 500px;
}
.btn-primary .span {
  font-weight: 600;
}
.btn-primary[disabled] {
  background-color: #3e3d40;
  color: #7b7980;
  cursor: not-allowed;
}
.btn-primary[disabled]::before {
  display: none;
}

.highlight-card :is(.wrapper, .card-list, .card-item) {
  display: flex;
  align-items: center;
}
.highlight-card .wrapper {
  justify-content: space-between;
  gap: 16px;
}
.highlight-card .card-item {
  width: 50%;
  justify-content: flex-end;
  gap: 4px;
}
.highlight-card .label-1 {
  color: #7b7980;
}
.highlight-card.two .card-item {
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px 16px;
}
@media (min-width: 1200px) {
  .highlight-card.two .card-item {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.highlight-card.two .label-1 {
  margin-block-end: 4px;
}
.highlight-card .card-list {
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 8px;
}
@media (min-width: 768px) {
  .highlight-card:nth-child(-n+2) {
    grid-column: span 2;
  }
}
@media (min-width: 1200px) {
  .highlight-card:nth-child(-n+2) {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .highlight-card:nth-child(n+3) {
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .highlight-card:nth-child(n+3) {
    height: 150px;
  }
}
@media (min-width: 768px) {
  .highlight-card.one .card-item {
    width: 25%;
    flex-direction: column-reverse;
    gap: 8px;
  }
}
@media (min-width: 1200px) {
  .highlight-card .m-icon {
    font-size: 4.8rem;
  }
}

.forecast-card .title-2 {
  margin-block-end: 0;
}
@media (min-width: 1200px) {
  .forecast-card .title-2 {
    font-size: 2.2rem;
  }
}
.forecast-card :is(.card-item, .icon-wrapper) {
  display: flex;
  align-items: center;
}
.forecast-card .card-item:not(:last-child) {
  margin-block-end: 12px;
}
@media (min-width: 768px) {
  .forecast-card .card-item:not(:last-child) {
    margin-block-end: 16px;
  }
}
.forecast-card .icon-wrapper {
  gap: 8px;
}
.forecast-card .label-1 {
  color: #7b7980;
  font-weight: 600;
}
.forecast-card .card-item > .label-1 {
  width: 100%;
  text-align: right;
}

.current-weather-card .wrapper {
  margin-block: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.current-weather-card .weather-icon {
  margin-inline: auto;
}
.current-weather-card > .body-3 {
  text-transform: capitalize;
}
.current-weather-card .meta-list {
  margin-block-start: 16px;
  padding-block-start: 16px;
  border-block-start: 1px solid #3e3d40;
}
.current-weather-card .meta-list .meta-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.current-weather-card .meta-list .meta-item:not(:last-child) {
  margin-block-end: 12px;
}
.current-weather-card .meta-list .meta-text {
  color: #7b7980;
}

.card {
  background-color: #1d1c1f;
  color: #dddae5;
  box-shadow: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
}

.card-lg {
  border-radius: 28px;
  padding: 20px;
}
@media (min-width: 768px) {
  .card-lg {
    padding: 24px;
  }
}
@media (min-width: 1200px) {
  .card-lg {
    padding: 36px;
  }
}

.card-sm {
  border-radius: 16px;
  padding: 16px;
}
@media (min-width: 768px) {
  .card-sm {
    padding: 20px;
    display: grid;
    grid-template-rows: min-content 1fr;
  }
}
@media (min-width: 1200px) {
  .card-sm {
    padding: 24px;
  }
}

@media (min-width: 1200px) {
  .header {
    position: relative;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
.header .logo img {
  width: 150px;
}
@media (min-width: 1200px) {
  .header .logo img {
    width: 200px;
  }
}
.header .container {
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
@media (min-width: 1200px) {
  .header .container {
    padding-block: 0;
  }
}
.header .header-actions {
  gap: 16px;
}
@media (min-width: 768px) {
  .header .header-actions {
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  .header .header-actions .icon-btn {
    display: none;
  }
}
.header .btn-primary {
  padding-inline: 12px;
}
@media (min-width: 768px) {
  .header .btn-primary {
    padding-inline: 16px 24px;
  }
}
.header .btn-primary .span {
  display: none;
}
@media (min-width: 768px) {
  .header .btn-primary .span {
    display: block;
  }
}
.header .search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1d1c1f;
  color: #dddae5;
  -webkit-clip-path: circle(4% at calc(100% - 102px) 5%);
          clip-path: circle(4% at calc(100% - 102px) 5%);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: -webkit-clip-path 500ms ease;
  transition: clip-path 500ms ease;
  transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}
@media (min-width: 768px) {
  .header .search {
    -webkit-clip-path: circle(3% at calc(100% - 273px) 6%);
            clip-path: circle(3% at calc(100% - 273px) 6%);
  }
}
@media (min-width: 1200px) {
  .header .search {
    all: unset;
    display: block;
    position: relative;
    width: 500px;
    animation: none;
  }
}
@media (min-width: 1200px) {
  .header .search:focus-within .search-result.active {
    display: block;
  }
}
.header .search.active {
  opacity: 1;
  visibility: visible;
  -webkit-clip-path: circle(130% at 73% 5%);
          clip-path: circle(130% at 73% 5%);
}
@media (min-width: 1200px) {
  .header .search.active {
    all: unset;
    display: block;
    position: relative;
    width: 500px;
    animation: none;
  }
}
.header .search .view-list {
  padding-block: 8px 16px;
}
@media (min-width: 1200px) {
  .header .search .view-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 360px;
    border-radius: 0 0 28px 28px;
    border-block-start: 1px solid #3e3d40;
    overflow-y: overlay;
  }
}
.header .search .view-list .error-message {
  text-align: center;
  padding: 10px 20px 0px 0px;
}
.header .search .view-list .view-item {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding-inline: 16px 24px;
}
.header .search .view-list .view-item :is(.m-icon, .item-subtitle) {
  color: #7b7980;
}
.header .search .view-list .view-item .item-link {
  position: absolute;
  inset: 0;
  box-shadow: none;
}
@media (min-width: 1200px) {
  .header .search .view-list:empty {
    min-height: 120px;
  }
}
@media (min-width: 1200px) {
  .header .search .view-list::-webkit-scrollbar-button {
    height: 20px;
  }
}
.header .search-wrapper {
  position: relative;
  border-block-end: 1px solid #3e3d40;
}
@media (min-width: 1200px) {
  .header .search-wrapper {
    border-block-end: none;
  }
}
.header .search-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  width: 24px;
  height: 24px;
  border: 3px solid #dddae5;
  border-block-start-color: transparent;
  border-radius: 50%;
  animation: loading 500ms linear infinite;
  display: none;
}
.header .search-wrapper:has(.searching)::before {
  display: block;
}
.header .search-wrapper .leading-icon {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%);
}
.header .search-wrapper > .m-icon {
  display: none;
}
@media (min-width: 1200px) {
  .header .search-wrapper > .m-icon {
    display: block;
  }
}
.header .search-wrapper .icon-btn {
  background-color: transparent;
  box-shadow: none;
}
@media (min-width: 1200px) {
  .header .search-wrapper .icon-btn {
    display: none;
  }
}
.header .search-field {
  height: 80px;
  line-height: 80px;
  padding-inline: 56px 16px;
  outline: none;
}
@media (min-width: 1200px) {
  .header .search-field {
    height: 56px;
  }
}
.header .search-field::-moz-placeholder {
  color: #b9b6bf;
}
.header .search-field::placeholder {
  color: #b9b6bf;
}
.header .search-field::-webkit-search-cancel-button {
  display: none;
}
@media (min-width: 1200px) {
  .header .search-result, .header .search:not(:focus-within) .header .search-result {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header .search:has(.search-result.active):focus-within .header .search-field {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (min-width: 1200px) {
  .header .search:is(:hover, :has(.view-list):hover) {
    filter: drop-shadow(0px 1px 3px hsla(0, 0%, 0%, 0.5));
  }
}
@media (min-width: 1200px) {
  .header .search:is(:focus-within, :has(.view-list):focus-within) {
    filter: drop-shadow(0px 3px 6px hsla(0, 0%, 0%, 0.4));
  }
}

@media (min-width: 1200px) {
  .search-field,
  .search,
  .view-list {
    background-color: #1d1c1f;
    border-radius: 28px;
  }
}

article.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 20px;
  height: 100%;
  overflow-y: overlay;
}
@media (min-width: 768px) {
  article.container {
    padding-block-start: 0;
    grid-template-columns: 280px minmax(0, 1fr);
    align-items: flex-start;
    gap: 24px;
  }
}
@media (min-width: 1200px) {
  article.container {
    grid-template-columns: 360px minmax(0, 1fr);
    gap: 40px;
  }
}
article.container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.08);
}
article.container::-webkit-scrollbar-button {
  height: 10px;
}
article.container::before {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: linear-gradient(180deg, hsla(270, 5%, 7%, 0) 0%, hsla(270, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
  pointer-events: none;
  z-index: 1;
}
@media (min-width: 768px) {
  article.container .content-left {
    position: sticky;
    top: 0;
  }
}

.section:not(:last-child) {
  margin-block-end: 16px;
}
@media (min-width: 768px) {
  .section:not(:last-child) {
    margin-block: 20px;
  }
}
@media (min-width: 768px) {
  .section > .title-2 {
    margin-block-end: 16px;
  }
}

.highlights .m-icon {
  font-size: 3.2rem;
}
@media (min-width: 768px) {
  .highlights .m-icon {
    font-size: 3.6rem;
  }
}
.highlights .highlight-list {
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .highlights .highlight-list {
    grid-template-columns: 1fr 1fr;
  }
}
.highlights .highlight-list .title-3 {
  color: #7b7980;
  margin-block-end: 20px;
}
@media (min-width: 1400px) {
  .highlights .highlight-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.highlights .card-sm {
  background-color: hsla(0, 0%, 0%, 0.1);
  position: relative;
}

.badge {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 2px 12px;
  border-radius: 500px;
  font-weight: 600;
  cursor: help;
}
@media (min-width: 768px) {
  .badge {
    top: 20px;
    right: 20px;
  }
}
.badge.aqi-1 {
  background-color: #89e589;
  color: #1f331f;
}
.badge.aqi-2 {
  background-color: #e5dd89;
  color: #33311f;
}
.badge.aqi-3 {
  background-color: #e5c089;
  color: #332b1f;
}
.badge.aqi-4 {
  background-color: #e58989;
  color: #331f1f;
}
.badge.aqi-5 {
  background-color: #e589b7;
  color: #331f29;
}

@media (min-width: 768px) {
  .hourly-forecast .card-sm {
    padding: 16px;
  }
}
.hourly-forecast .slider-container {
  overflow-x: auto;
  margin-inline: -16px;
}
@media (min-width: 768px) {
  .hourly-forecast .slider-container {
    margin-inline: 0 -24px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 28px;
  }
}
.hourly-forecast .slider-container::-webkit-scrollbar {
  display: none;
}
.hourly-forecast .slider-container .slider-list {
  display: flex;
  gap: 12px;
}
@media (min-width: 1200px) {
  .hourly-forecast .slider-container .slider-list {
    gap: 16px;
  }
}
.hourly-forecast .slider-container .slider-list:first-child {
  margin-block-end: 16px;
}
.hourly-forecast .slider-container .slider-list::before {
  content: "";
  min-width: 4px;
}
@media (min-width: 768px) {
  .hourly-forecast .slider-container .slider-list::before {
    display: none;
  }
}
.hourly-forecast .slider-container .slider-list::after {
  content: "";
  min-width: 4px;
}
@media (min-width: 768px) {
  .hourly-forecast .slider-container .slider-list::after {
    min-width: 12px;
  }
}
.hourly-forecast .slider-container .slider-list .slider-item {
  min-width: 110px;
  flex: 1 1 100%;
}
.hourly-forecast .slider-container .slider-list .slider-item .weather-icon {
  margin-inline: auto;
  margin-block: 12px;
}
.hourly-forecast .slider-container .slider-list .slider-card {
  text-align: center;
}

.footer {
  color: var(--on-surface-variant);
  text-align: center;
  gap: 12px 24px;
  display: flex;
  padding: 15px 0px 50px 0px;
}
@media (min-width: 768px) {
  .footer {
    padding: 10px 0px 10px 0px;
  }
}
.footer .body-3:last-child {
  gap: 6px;
}

.error-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 8;
}
.error-content .btn-primary {
  margin-block-start: 20px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131214;
  place-items: center;
  z-index: 1;
  display: none;
}
.loading::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 4px solid #eae6f2;
  border-block-start-color: transparent;
  border-radius: 50%;
  animation: loading 500ms linear infinite;
}