.badge {
    @include position(absolute, 16px, 16px, null, null);
    padding: 2px 12px;
    border-radius: $radius-pill;
    font-weight: $weight-semiBold;
    cursor: help;

    @include breakpoint("tablet") {
        top: 20px;
        right: 20px;
    }

    &.aqi-1 {
        background-color: $bg-aqi-1;
        color: $on-bg-aqi-1;
    }

    &.aqi-2 {
        background-color: $bg-aqi-2;
        color: $on-bg-aqi-2;
    }

    &.aqi-3 {
        background-color: $bg-aqi-3;
        color: $on-bg-aqi-3;
    }

    &.aqi-4 {
        background-color: $bg-aqi-4;
        color: $on-bg-aqi-4;
    }

    &.aqi-5 {
        background-color: $bg-aqi-5;
        color: $on-bg-aqi-5;
    }
}