.current-weather-card {

    .wrapper {
        margin-block: 12px;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .weather-icon {
        margin-inline: auto;
    }

    >.body-3 {
        text-transform: capitalize;
    }

    .meta-list {
        margin-block-start: 16px;
        padding-block-start: 16px;
        border-block-start: 1px solid var(--outline);

        .meta-item {
            display: flex;
            align-items: center;
            gap: 8px;

            &:not(:last-child) {
                margin-block-end: 12px;
            }
        }

        .meta-text {
            color: var(--on-surface-variant);
        }
    }

}