.error-content {
    @include position(fixed, 0, null, null, 0);
    @include size(100%,100vh);
    @include flexbox(none, center, center, column, null, null);
    background-color: $background;
    z-index: 8;

    .btn-primary {
        margin-block-start: 20px;
    }
}