.forecast-card {

    .title-2 {
        margin-block-end: 0;
    }

    :is(.card-item, .icon-wrapper) {
        display: flex;
        align-items: center;
    }

    .card-item:not(:last-child) {
        margin-block-end: 12px;
    }

    .icon-wrapper {
        gap: 8px;
    }

    .label-1 {
        color: $on-surface-variant;
        font-weight: $weight-semiBold;
    }

    .card-item>.label-1 {
        width: 100%;
        text-align: right;
    }
}