.highlights {
    .m-icon {
        font-size: 3.2rem;

        @include breakpoint("tablet") {
            font-size: 3.6rem;
        }
    }

    .highlight-list {
        display: grid;
        gap: 20px;

        @include breakpoint("tablet") {
            grid-template-columns: 1fr 1fr;
        }

        .title-3 {
            color: $on-surface-variant;
            margin-block-end: 20px;
        }

        @include breakpoint("large-desktop") {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .card-sm {
        background-color: $black-alpha-10;
        position: relative;
    }
}

