.section {

    &:not(:last-child) {
        margin-block-end: 16px;

        @include breakpoint("tablet") {
            margin-block: 20px;
        }
    }

    @include breakpoint("tablet") {
        
        >.title-2 {
            margin-block-end: 16px;
        }
    }

}