article.container {
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
    height: 100%;
    overflow-y: overlay;

    @include breakpoint("tablet") {
        padding-block-start: 0;
        grid-template-columns: 280px minmax(0, 1fr);
        align-items: flex-start;
        gap: 24px;
    }

    @include breakpoint("desktop") {
        grid-template-columns: 360px minmax(0, 1fr);
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
        background-color: $white-alpha-8;
    }

    &::-webkit-scrollbar-button {
        height: 10px;
    }

    &::before {
        content: "";
        @include position(fixed, null, null, 0, 0);
        @include size(100%,40px);
        background-image: $gradient-1;
        pointer-events: none;
        z-index: 1;
    }

    .content-left {
        @include breakpoint("tablet") {
            position: sticky;
            top: 0;
        }
    }

}