.header {

    @include breakpoint("desktop") {
        position: relative;
        z-index: 4;
        box-shadow: $shadow-3;
    }

    .logo img {
        width: 150px;

        @include breakpoint("desktop") {
            width: 200px;
        }
    }

    .container {
        @include flexbox(flex, center, space-between, null, null, null);
        box-shadow: $shadow-3;

        @include breakpoint("desktop") {
            padding-block: 0;
        }
    }

    .header-actions {
        @include flexbox(flex, center, null, null, 16px, null);

        @include breakpoint("tablet") {
            gap: 24px;
        }

        .icon-btn {
            @include breakpoint("desktop") {
                display: none;
            }
        }
    }

    .btn-primary {
        padding-inline: 12px;

        @include breakpoint("tablet") {
            padding-inline: 16px 24px;
        }

        .span {
            display: none;

            @include breakpoint("tablet") {
                display: block;
            }
        }
    }

    .search {
        @include position(fixed, 0, null, null, 0);
        @include size(100%, 100vh);
        background-color: $surface;
        color: $on-surface;
        clip-path: circle(4% at calc(100% - 102px) 5%);
        @include visibility(0, hidden);
        z-index: 4;
        transition: clip-path 500ms ease;

        @include breakpoint("tablet") {
            clip-path: circle(3% at calc(100% - 273px) 6%);
        }

        @include breakpoint("desktop") {
            all: unset;
            display: block;
            position: relative;
            width: 500px;
            animation: none;
        }

        &:focus-within .search-result.active {
            @include breakpoint("desktop") {
                display: block;
            }
        }

        &.active {
            @include visibility(1, visible);
            clip-path: circle(130% at 73% 5%);

            @include breakpoint("desktop") {
                all: unset;
                display: block;
                position: relative;
                width: 500px;
                animation: none;
            }
        }

        .view-list {
            padding-block: 8px 16px;

            @include breakpoint("desktop") {
                @include position(absolute, 100%, null, null, 0);
                width: 100%;
                max-height: 360px;
                border-radius: 0 0 $radius-28 $radius-28;
                border-block-start: 1px solid $outline;
                background-color: $surface;
                overflow-y: overlay;
            }

            .error-message {
                text-align: center;
                padding: 10px 20px 0px 0px;
            }

            .view-item {
                position: relative;
                @include flexbox(flex, center, flex-start, null, 16px, null);
                height: 56px;
                padding-inline: 16px 24px;

                :is(.m-icon, .item-subtitle) {
                    color: $on-surface-variant;
                }

                .item-link {
                    position: absolute;
                    inset: 0;
                    box-shadow: none;
                }
            }

            &:empty {
                @include breakpoint("desktop") {
                    min-height: 120px;
                }
            }

            &::-webkit-scrollbar-button {
                @include breakpoint("desktop") {
                    height: 20px;
                }
            }
        }

        &-wrapper {
            position: relative;
            border-block-end: 1px solid $outline;

            @include breakpoint("desktop") {
                border-block-end: none;
            }


            &::before {
                content: "";
                @include position(absolute, 50%, 16px, null, null);
                @include size(24px, 24px);
                transform: translateY(-50%);
                border: 3px solid $on-surface;
                border-block-start-color: transparent;
                border-radius: $radius-circle;
                animation: loading 500ms linear infinite;
                display: none;
            }

            &:has(.searching)::before {
                display: block;
            }

            .leading-icon {
                @include position(absolute, 50%, null, null, 28px);
                transform: translate(-50%, -50%);
            }

            >.m-icon {
                display: none;

                @include breakpoint("desktop") {
                    display: block;
                }
            }

            .icon-btn {
                background-color: transparent;
                box-shadow: none;

                @include breakpoint("desktop") {
                    display: none;
                }
            }
        }

        &-field {
            height: 80px;
            line-height: 80px;
            padding-inline: 56px 16px;
            outline: none;

            @include breakpoint("desktop") {
                height: 56px;
                border-radius: $radius-28;
                background-color: $surface;
            }

            &::placeholder {
                color: $on-surface-variant-2;
            }

            &::-webkit-search-cancel-button {
                display: none;
            }
        }

        &-result,
        &:not(:focus-within) .search-result {
            @include breakpoint("desktop") {
                display: none;
            }
        }

        &:has(.search-result.active):focus-within .search-field {
            @include breakpoint("desktop") {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &:is(:hover, :has(.view-list):hover) {

            @include breakpoint("desktop") {
                filter: drop-shadow($shadow-1);
            }
        }

        &:is(:focus-within, :has(.view-list):focus-within) {
            @include breakpoint("desktop") {
                filter: drop-shadow($shadow-2);
            }
        }

    }

}