.not-found {
    @include position(fixed, 0, null, null, 0);
    @include size(100%, 100vh, null, null, null);
    @include flexbox(none, center, center, column, null, null);
    background-color: $background;
    z-index: 8;

    .btn-primary {
        margin-block-start: 20px;
    }

    .heading {
        font-size: 200px;
    }

    .body-1 {
        font-size: 30px;
    }
}