.section {

    &:not(:last-child) {
        margin-block-end: 16px;

        @include breakpoint("tablet") {
            margin-block: 30px;
        }
    }

    >.title-2 {
        @include breakpoint("tablet") {
            margin-block-end: 16px;
        }
    }

}